/* Fonts */

// Google:
$muli: 'Muli', sans-serif;
$poppins: 'Poppins', sans-serif;

// Adobe:
$paralucent: 'paralucent', sans-serif;
$atrament: 'atrament-web', sans-serif;
$source-sans: source-sans-pro, sans-serif;
$futura: futura-pt, sans-serif;
$futura-bold: futura-pt-bold, sans-serif;
