// Modal //

.portfolio-modal {
	display: none;
}

.portfolio-modal--show {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: hsla(0,0,0,.7);
}

.portfolio-modal__button {
	position: fixed;
	top: 1.5rem;
	right: 3rem;
	line-height: 1;
	font-size: 2rem;
	color: white;
	cursor: pointer;
}

.portfolio-modal__pic-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.portfolio-modal__img {
	height: 80vh;
	box-shadow: 0 2px 4px 2px hsla(0,0,0,.3);
	@media screen and (orientation: portrait) {
		width: 100%;
		height: auto;
	}
}

.portfolio-modal__caption {
	font-family: $source-sans;
	font-size: 24px;
	color: white;
	@media screen and (min-width: 1440px) {
		font-size: 32px;
	}
}