/* General Layout Styles: */

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0;
	padding: 0;
	font-family: $poppins;
	line-height: 1.5;
	color: $jet;
	main {
		position: relative;
		padding: 1.5rem 8.33%;
		@media screen and (max-width: 425px) {
			padding: 0 4.167%;
		}
		@media (min-width: 768px) and (max-width: 900px) {
			padding: 0 4.167%;
		}
		@media screen and (min-width: 1200px) {
			// add big-screen styles here if find need
		}
	}
}

li > p {
    margin: 0; // undo markdown styles
}